{% extends 'base.html' %}

{% block title %}Upcoming Songs{% endblock %}

{% block content %}
<h2>Upcoming Songs</h2>
    <div class="cards">
        {% for song in songs %}
            <div class="card">
            <header><a href="{%  url 'songs:detail' pk=song.pk %}">{{ song.title }}</a></header>
            <div class="card-copy">
                <a href="{%  url 'songs:performer' pk=song.pk %}">
                {{ song.artist }}
                </a>
        </div>
    </div>
{%  endfor %}
    </div>
{%  endblock %}
